.vscode
*.out
*.o
phonebook
megaphone
file
file.replace
*.replace
notsed
horde
addresses
violence
fixed
clap_trap
scav_trap
frag_trap
diamond_trap
animals
brain
materia
exceptions
home_shrubbery
farm_shrubbery
hotel_shrubbery
casts
serialization
real_type
convert
templated